  
.news-page{
    min-height: 100vh;
    background-color: #f4f5f7;
}

.container{
  max-width: "1400px";
  margin: "0px auto";
  padding: "24px";
}
  
.news-title {
  margin: 0;
  font-size: 58px;
  font-weight: 900;
  line-height: 1.05;
  font-size: 36px;
}

.news-subtitle {
  margin: 0;
  font-size: 58px;
  font-weight: 900;
  line-height: 1.05;
  font-size: 28px;
}

.news-section {
  padding: 42px 40px;
  border-radius: 28px;
  color: #002244;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
  margin-bottom: 24px;
  padding: 28px;
}

.news-subsection {
  padding: 42px 40px;
  border-radius: 28px;
  color: #002244;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 28px;
}